h1 {
  padding: 80px 0px 20px 40px;
  background-color: yellow;
}

.about-info {
  padding: 40px 0px 80px 0px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: space-around;
}