@import "color";

/* top */
.info-top {
  background-color: $Jyellow;
  height: 400px;
}

.top-text {
  padding-top: 50px;
  color: white;
  .heading-text {
    font-size: 60px;
    font-weight: 800;
    text-shadow: 1px 1px $Orange;
  }
  p {
    font-size: 25px;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 20px;
    text-shadow: 0px 1px $Orange;
  }
  h2 {
    font-size: 25px;
    font-weight: 800;
    margin-left: 150px;
    margin-top: 20px;
    color: $Orange;
    text-shadow: 1px 1px White;
  }
}


.info-list {
  padding: 50px 0 00px 0;
  background-color: $Gray;
  display: flex;
  justify-content: space-around;
  .kaite, .kakuzo, .dekita{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
    h1 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 3px;
      color: $Black;
    }
  }
}
