@import "color";

@mixin header-menus {
  text-decoration: none;
  font-weight: 800;
  color: $Orange;
  background-color: white;
  font-size: 18px;
  border-radius: 50%;
  padding: 16px;
  &:hover {
    color: $Orange;
    background-color: yellow;
  }
}

header {
  height: 60px;
  width: 100vw;
  background: linear-gradient(100deg, $Orange 0%, yellow 35%, orange 100%);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
  padding-left: 10px;
  font-weight: 800;
  font-size: 38px;
  font-style: italic;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: darken($Yellow, 10%);
    }
  }
}

.header-menus {
  float: right;
  display: flex;
  padding-top: 18px;
  li{
    padding-right: 40px;
    list-style: none;
    .toabout{
      text-decoration: none;
      color: $Orange;
      font-weight: 800;
      &:hover {
        color: darken($Yellow, 10%);
      }
    }  
    .tologin, .toregist, .tonickname, .tologout {
      @include header-menus;
      }
  }
}




