@import "color";

@mixin header-menus {
  text-decoration: none;
  font-weight: 800;
  padding: 20px;
  color: $Orange;
  background-color: white;
  border: solid 2px $Yellow;
  border-radius: 50%;
  &:hover {
    background-color: $Yellow;
  }
}

header {
  height: 50px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: $Orange;
  position: sticky;
  top: 0;
}

.header-logo {
  float: left;
  padding-left: 10px;
  font-weight: 800;
  font-size: 38px;
  font-style: italic;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: darken($Yellow, 10%);
    }
  }
}

.header-menus {
  float: right;
  display: flex;
  li{
    padding-right: 40px;
    margin-top: 25px;
    list-style: none;
    .toabout{
      text-decoration: none;
      color: white;
      font-weight: 800;
      &:hover {
        color: darken($Yellow, 10%);
      }
    }  
    .tologin, .toregist, .tonickname, .tologout {
      @include header-menus;
      }
  }
}




