<%= render "shared/header" %>

<div class="about-header">
  <div class="about-what">「BoiledEgg」とは？</div>
  <div class= "about-info">
      <div class="case-left">絵を描きたいけど構図が浮かばない</div>
      <div class="case-right">こんな絵が描けたらいいのになあ</div>
      <div class="case-left">何を書こうか迷って結局筆が進まない</div>
      <div class="case-right">アイデアはあるけど、<br>実際に描くとうまくいかない・・・</div>
  </div>
  <div class="about-below">
    <p>こういった悩みを一度に解決できる可能性を秘めたウェブサイトです。</p>
    <p>↓How to Use?↓</p>
  </div>
</div>

<div class="about-top">

</div>
