<%= render "shared/header" %>

<div class= "about-top">
  <h1 class="about-what">
    「BoiledEgg」とは？
  </h1>
</div>

<div class= "about-info">
  <div>
    <h2>「絵を描きたいけど構図が浮かばない</h2>
    <h2>「何を書こうか迷って結局筆が進まない」</h2>
  </div>
  <div>
    <h2>「こんな絵が描けたらいいのになあ」</h2>
    <h2>「アイデアはあるんだけど、実際に描くとうまくいかない」</h2>
  </div>
</div>

