<header>
  <div class="header-logo">
    <a href="/">BoiledEgg</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">このサイトの使い方</a>
    </li>
  </ul>
</header>

<h1>
  トップページだよ
</h1>