<%= render "shared/header" %>

<div class= "info-top">
  <div class= "top-text">
    <h1 class="heading-text">「これ描いて！」から始まるプロジェクト</h1>
    <p>「こんなイラストが欲しいけど見つからない・・・」</p>
    <p>「アイデアはあるんだけど、形にできない・・・」</p>
    <p>「何か描きたいけど、アイデアが浮かばない・・・」</p>
    <h2>そんな悩みを”BoiledEgg”なら解決できるかもしれません。</h2>
  </div>
</div>

<div class= "info-list">
  <div class= "info-submit">
    <h1 class="t-submit">アイデアを送る！</h1>
    <p>まず、自分の好きな絵柄を描く投稿者さんを</p>
    <p>「投稿一覧」から探してみましょう！</p>
    <p>お気に入りの投稿者さんを見つけたら</p>
    <p>構図・内容などの自分のアイデアを文章・図にして</p>
    <p>リクエストとして送信してみましょう！</p>
    <%= link_to '投稿一覧を見に行く！', posts_path %>
  </div>
  <div class= "info-post">
    <h1 class="t-post">イラストを投稿！</h1>
    <p>自分で描いたイラストを</p>
    <p>マイページから投稿してみましょう！</p>
    <p>イラストを見た他のユーザーが</p>
    <p>あなたの絵柄を気に入って</p>
    <p>リクエストをくれるかもしれません！</p>
    <%= link_to '自分の絵を投稿する！', new_post_path %>
  </div>
  <div class= "info-collabo">
    <h1 class= "t-collabo">コラボ作品の完成！</h1>
    <p>リクエストとして送信された</p>
    <p>アイデアをもとにイラストが投稿されると</p>
    <p>「コラボ作品一覧」に表示されます！</p>
    <p>他のユーザーが協力してどのような作品を</p>
    <p>作り上げているのか見てみましょう！</p>
    <%= link_to 'コラボ作品一覧を見に行く！', collabos_path %>
  </div>
</div>


