<%= render "shared/header" %>

<div class= "info-top">
  <div class= "top-text">
    <h1>「これ書いて！」から始まるプロジェクト</h1>
    <p>「こんなイラストが欲しいけど見つからない・・・」</p>
    <p>「アイデアはあるんだけど、形にできない・・・」</p>
  </div>
</div>

<div class= "info-list">
  <div class= "kaite">
    <p>これ書いて</p>
    <%= link_to '投稿一覧を見に行く！', posts_path %>
  </div>
  <div class= "kakuzo">
    <p>これ書きます</p>
    <%= link_to '自分の絵を投稿する！', new_post_path %>
  </div>
  <div class= "dekita">
    <p>できた！</p>
    <%= link_to '合作一覧を見に行く！', "#" %>
  </div>
</div>


