<%= render "shared/header" %>

<div class= "info-top">
  <div class= "top-text">
    <h1 class="heading-text">「これ描いて！」から始まるプロジェクト</h1>
    <p>「こんなイラストが欲しいけど見つからない・・・」</p>
    <p>「アイデアはあるんだけど、形にできない・・・」</p>
    <p>「何か描きたいけど、アイデアが浮かばない・・・」</p>
    <h2>そんな悩みを”BoiledEgg”なら解決できるかもしれません。</h2>
  </div>
</div>

<div class= "info-list">
  <div class= "kaite">
    <h1>アイデアを送る</h1>
    <%= link_to '投稿一覧を見に行く！', posts_path %>
  </div>
  <div class= "kakuzo">
    <h1>イラストを投稿</h1>
    <%= link_to '自分の絵を投稿する！', new_post_path %>
  </div>
  <div class= "dekita">
    <h1>コラボ作品の完成</h1>
    <%= link_to 'コラボ作品一覧を見に行く！', "#" %>
  </div>
</div>


