<%= render "shared/header" %>

<h1>
  トップページだよ
</h1>

<div class= "info">
  <div class= "kaite">
    <p>これ書いて</p>
    <%= link_to '投稿一覧を見に行く！', posts_path %>
  </div>
  <div class= "kakuzo">
    <p>これ書きます</p>
    <%= link_to '自分の絵を投稿する！', new_post_path %>
  </div>
  <div class= "dekita">
    <p>できた！</p>
    <%= link_to '合作一覧を見に行く！', "#" %>
  </div>
</div>


