@import "color";

.mypage {
  display: flex;
}

.mypage-side {
  width: 40vw;
  background-color: orange;
}

.user-post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $Yellow;
  padding-top: 10px;
}

