@import "color";

.mypage {
  display: flex;
}

.mypage-side {
  width: 20vw;
  height: 100vh;
  background-color: orange;
  position: fixed;
  left: 0;
  padding-top: 80px;
}

.user-post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $Yellow;
  padding-top: 60px;
  padding-left: 320px;
}

