@import "reset";
@import "color";

.form {
  background: linear-gradient(-200deg, orange 0%, white 80%, $Jyellow 100%);
  padding-top: 60px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.form-image {
  margin: 10px 0;
}

.form-title {
  width: 45vw;
  display:inline-block;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}

.form-text {
  width: 60vw;
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-button {
  display: block;
  margin:  auto;
  padding: 30px;
  background-color: orange;
  color: white;
  border-radius: 10px;
}

.form-list {
}