@import "color";

.post-wrapper {
  padding: 5px;
  margin: 10px 10px 20px 10px;
  height: 280px;
  width: 31vw;
  border-radius: 10%;
  border: solid 1px $Orange;
  display: flex;
  position: relative;
}

.card_img {
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: white;
  border-radius: 20%;
}

.post-body {
  opacity: 0.7;
}

.post-text {
  height: 220px;
}

.likes {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
